extends c

snippet cpp
#include <iostream>
#include <iomanip>
using namespace std;

int main(void)
{
	${VISUAL}${0}
	return 0;
}
endsnippet

snippet cpp2
#include <iostream>
#include <iomanip>
using namespace std;

int main(int argc, char **argv)
{
	${VISUAL}${0}
	return 0;
}
endsnippet
